@{
    ViewData["Title"] = "BCM";
}
<header class="site-header d-flex  section-header-nav">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-md-12 col-lg-6" id="menu-navegacao" data-aos="fade-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page"> BCM</li>
                    </ol>
                </nav>


                <h2>BCM</h2>
                <h4>
                    BODY COMPOSITION MONITOR
                </h4>
                <div class="container" style="text-align:justify;" data-aos="flip-up">
                    <h6 class="line-height-person">
                        O Monitor de Composição Corporal (BCM) oferece
                        uma tecnologia inovadora para gestão de fluidos em
                        pacientes em hemodiálise, diferenciando com
                        precisão massa muscular de sobrecarga de fluidos
                        patológicos, e detectando precocemente a
                        desnutrição em pacientes com doença renal
                        crônica. Ele supera as limitações de avaliações
                        subjetivas e métodos caros, fornecendo dados
                        objetivos para o equilíbrio de fluidos e nutrição.
                        Específico para pacientes com DRC, o BCM é
                        fundamental na Gestão Avançada de Fluidos,
                        melhorando o atendimento e os resultados clínicos
                        de forma não invasiva, rápida e acessível.

                    </h6>

                </div>
            </div>
            <div class="container col-md-12 col-lg-6 background-primary-img-bcm" id="menu-navegacao" data-aos="flip-left">
              
                @* <img src="/images/img_person/img91_sem_bg.png"   /> *@
               
            </div>
        </div>
    </div>
</header>
