
@{
    ViewData["Title"] = "Corpo Clínico";
}

<header class="site-header d-flex  section-header-nav">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-md-7" id="menu-navegacao">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Corpo Clínico

                        </li>
                    </ol>
                </nav>


                <h2>equipe</h2>
                <h4>
                    MULTIDISCIPLINAR
                </h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        Na Clínica Renal Prime, os 16 leitos serão cobertos por uma
                        equipe altamente especializada composta por: um médico
                        responsável técnico, médicos nefrologistas, ambos com
                        jornada mínima de 5 horas diárias; um enfermeiro
                        responsável técnico com 36 horas semanais e um enfermeiro
                        nefrologista para cada 16 leitos ou fração por turno.
                        Adicionalmente, contaremos com uma equipe terceirizada
                        para tratamento de água, um técnico de enfermagem para
                        atender até 4 pacientes por vez, e um funcionário exclusivo
                        para cuidar da limpeza em cada turno. A equipe inclui
                        também um assistente social, um psicólogo, um nutricionista
                        e um fisioterapeuta, garantindo um atendimento completo e
                        especializado.
                    </h6>

                </div>
            </div>

            <div class="container col-md-5" id="menu-navegacao">

                <div class="container-bl">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large">
                                <img src="/images/img_person/img112.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium" style="border:10px solid var(--madeira-escura)">
                                <img src="/images/img_person/img113.jpg" alt="Imagem 2">
                            </div>
                         

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>