@{
    ViewData["Title"] = "Corpo Clínico";
}

<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-md-12 col-xxl-6" id="menu-navegacao" data-aos="fade-right">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">
                            Corpo Clínico

                        </li>
                    </ol>
                </nav>


                <h2>equipe</h2>
                <h4>
                    MULTIDISCIPLINAR
                </h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        Na Clínica Renal Prime, os 16 leitos serão cobertos por uma
                        equipe altamente especializada composta por: um médico
                        responsável técnico, médicos nefrologistas, ambos com
                        jornada mínima de 5 horas diárias; um enfermeiro
                        responsável técnico com 36 horas semanais e um enfermeiro
                        nefrologista para cada 16 leitos ou fração por turno.
                        Adicionalmente, contaremos com uma equipe terceirizada
                        para tratamento de água, um técnico de enfermagem para
                        atender até 4 pacientes por vez, e um funcionário exclusivo
                        para cuidar da limpeza em cada turno. A equipe inclui
                        também um assistente social, um psicólogo, um nutricionista
                        e um fisioterapeuta, garantindo um atendimento completo e
                        especializado.
                    </h6>

                </div>
            </div>

            <div class="container col-md-12 col-xxl-6" id="menu-navegacao" data-aos="fade-left">

                <div class="container-bl">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large">
                                <img src="/images/img_person/img112.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium absolute-layout" style="border:20px solid var(--madeira-escura);">
                                <img src="/images/img_person/img113.jpg" alt="Imagem 2">
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>
<section class="site-header d-flex  bg-renal bg-position-top-right" style="border-top:10px solid var(--verde-escuro);padding-top:0;padding-top:5em">
    <div class="container">
        <h5 class="text-start renal-title">Renal Prime</h5>
        <div class="row resposiva-container">
            <div class="container col-md-12 col-xxl-12" id="menu-navegacao" data-aos="fade-right">
                <h2>equipe</h2>
                <h4>
                    Conheça nosso corpo clínico
                </h4>
            </div>

        </div>
        <div class="row d-flex">
          
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                
                <div class="container-wpapper-corpo-clinico">
                    <div class="container-wpapper-corpo-clinico__foto">
                        @* <div class="img-medical">

                        </div> *@
                        <img src="~/images/img_person/doctor-nurses-special-equipment.jpg">
                        <div class="container-wpapper-corpo-clinico__title">
                            Dr. Geraldo Rubens Ramos de Freitas
                        </div>
                    </div>
                    <div class="container-wpapper-corpo-clinico__body">
                        <h6>
                             Formado em Medicina pela
                            Universidade Federal de Uberlândia (UFU) desde 2010. Concluiu 
                            residência em Clínica Médica pela Universidade Estadual de Campinas
                            (UNICAMP) em 2012 e especialização em Nefrologia pela Universidade de 
                            São Paulo (USP-SP) em 2014. Em 2019, obteve seu doutorado pela USP-SP,
                            com foco no perfil linfocitário de idosos transplantados renais. Atuou 
                            como intensivista no Hospital São Camilo-Ipiranga (2014-2018) e como médico 
                            do time de resposta rápida do Hospital Alemão Oswaldo Cruz (2016-2018). 
                            Atualmente, é nefrologista no Hospital de Base de Brasília desde 2018 e 
                            nefrologista do transplante renal no Hospital Universitário de Brasília desde 2019.


                        </h6>


                    </div>
                </div>
            </div>
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                <div class="container-wpapper-corpo-clinico">
                    <div class="container-wpapper-corpo-clinico__foto">
                        @* <div class="img-medical">

                        </div> *@
                        <img src="~/images/img_person/beautiful-young-female-doctor-looking-camera-office.jpg">
                        <div class="container-wpapper-corpo-clinico__title">
                            Dra. Karine Jessica Bezerra Lora de Moraes
                        </div>
                    </div>
                    <div class="container-wpapper-corpo-clinico__body">
                        <h6>
                             Graduou-se em
                            Medicina pela Universidade de Pernambuco (UPE) em 2009. 
                            Fez residência em Clínica Médica no Hospital Regional de 
                            Sobradinho-DF entre 2013 e 2015 e, posteriormente, especialização 
                            em Nefrologia no Hospital Regional de Taguatinga-DF, concluída em 2017.
                            É especialista tanto em Clínica Médica quanto em Nefrologia.


                        </h6>


                    </div>
                </div>
            </div>
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                <div class="container-wpapper-corpo-clinico">
                    <div class="container-wpapper-corpo-clinico__foto">
                        @* <div class="img-medical">

                        </div> *@
                        <img src="~/images/img_person/doctor-nurses-special-equipment.jpg">
                        <div class="container-wpapper-corpo-clinico__title">
                            Dr. Rodrigo Alfredo Vivanco Vergara
                        </div>
                    </div>
                   
                    <div class="container-wpapper-corpo-clinico__body">
                        <h6>
                           Formou-se em Medicina pela
                            Universidade Federal de Mato Grosso em 2001. Realizou residência 
                            em Clínica Médica e Terapia Intensiva Adulto no Hospital de Base 
                            do DF, finalizando em 2008. Posteriormente, 
                            concluiu sua especialização em Nefrologia Intensiva 
                            Adulto no mesmo hospital em 2010. Atuou como nefrologista na 
                            Clínica de Doenças Renais de Brasília e na Clínica DaVita até 
                            2022, com foco em nefrologia ambulatorial e intensiva, 
                            hemodiálise e transplante renal. Atualmente, é médico 
                            intensivista no Hospital Alvorada Brasília e coordenador 
                            do serviço de nefrologia no Hospital Daher pela DaVita

                        </h6>


                    </div>
                </div>
            </div>
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                <div class="container-wpapper-corpo-clinico">
                    <div class="container-wpapper-corpo-clinico__foto">
                        @* <div class="img-medical">

                        </div> *@
                        <img src="~/images/img_person/beautiful-young-female-doctor-looking-camera-office.jpg">
                        <div class="container-wpapper-corpo-clinico__title">
                            Dra. Márcia Maria Muniz de Queiroz Studart
                        </div>
                    </div>
                    <div class="container-wpapper-corpo-clinico__body">
                        <h6>
                             Formou-se 
                            em Medicina pela Universidade Estadual do Ceará em 2009. 
                            Concluiu residências em Clínica Médica no Hospital Geral d
                            e Fortaleza (2011) e em Nefrologia no Hospital Universitário 
                            de Brasília (2013), onde também obteve o título de especialista 
                            pela Sociedade Brasileira de Nefrologia. Atualmente, é nefrologista 
                            da Empresa Brasileira de Serviços Hospitalares, atuando no Hospital 
                            Universitário de Brasília. Possui mestrado em Gerontologia pela Universidade 
                            Católica de Brasília, com experiência em hemodiálise, diálise peritoneal e 
                            nefrologia intervencionista.


                        </h6>


                    </div>
                </div>
            </div>
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                <div class="container-wpapper-corpo-clinico">
                    <div class="container-wpapper-corpo-clinico__foto">
                        @* <div class="img-medical">

                        </div> *@
                        <img src="~/images/img_person/doctor-nurses-special-equipment.jpg">
                        <div class="container-wpapper-corpo-clinico__title">
                            Dr. Brenno Bosi Vieira Brandão
                        </div>
                    </div>
                    <div class="container-wpapper-corpo-clinico__body">
                        <h6>
                            Formado em 
                            Medicina pela Faculdade de Medicina de Barbacena 
                            (FUNJOB) desde 2011. Realizou residência em Clínica 
                            Médica no Hospital das Forças Armadas (HFA) de 
                            Brasília entre 2012 e 2014, e 
                            residência em Nefrologia no Hospital 
                            Regional de Taguatinga (HRT), concluída em 2016.



                        </h6>


                    </div>
                </div>
            </div>
            <div class="container col-sm-12 col-md-12 col-xxl-6 border-radios-container mt-3" id="menu-navegacao" data-aos="fade-right">
                </div>
        </div>
    </div>
</section>