@{
    ViewData["Title"] = "Dialog +";
}
<header class="site-header d-flex  section-header-nav">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-md-6" id="menu-navegacao">
                <img src="/images/img_person/img57_removed_bg_red.png" />

            </div>
            <div class="container col-md-6" id="menu-navegacao">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  DIALOG +</li>
                    </ol>
                </nav>


                <h2>Tecnologia</h2>
                <h4>dialog +</h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A máquina de hemodiálise Dialog+ oferece
                        tecnologia avançada para o tratamento de
                        pacientes com insuficiência renal aguda ou crônica.
                        Com um monitor LCD giratório de 15”
                        , permite a
                        visualização completa dos parâmetros de diálise,
                        proporcionando maior segurança e rapidez no
                        atendimento pela equipe de enfermagem. O sistema
                        de mistura da solução de hemodiálise, com controle
                        individualizado de bicarbonato e condutividade,
                        garante uma precisão elevada na composição da
                        solução, possibilitando ajustes personalizados
                        conforme as necessidades clínicas de cada paciente.
                    </h6>

                </div>
            </div>
           


        </div>
    </div>
</header>