
@{
    ViewData["Title"] = "Diálise Peritoneal";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container" >
        <div class="row resposiva-container">
            <div class="container col-md-12 col-lg-6 " id="menu-navegacao" data-aos="flip-left">
                <div class="background-primary-img-dialise"></div>
                @*  <img src="/images/img_person/img57_removed_bg_red.png" /> *@

            </div>

            <div class="container col-md-12 col-lg-6" id="menu-navegacao" data-aos="fade-left">
                <h5 class="text-end renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page"> Diálise Peritoneal</li>
                    </ol>
                </nav>


                <h2> Diálise Peritoneal</h2>
                @* <h4>dialog +</h4> *@
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        Modalidade de terapia renal substitutiva igualmente eficaz em relação à 
                        hemodialise e hemodiafiltraçao, com as mesmas taxas de sucesso, 
                        porem realizada totalmente em domicilio, possibilitando grande 
                        liberdade e flexibilidade na terapia, 
                        permitindo grande qualidade de vida aos 
                        pacientes. Realizada por maquina e 
                        materiais de facil manejo e 
                        grande mobilidade, podendo ser realizada,
                        a principio, por qualquer paciente com indicaçao de terapia renal substitutiva, 
                        sendo potencialmente superior para crianças, cardiopatas, deficientes físicos e 
                        moradores de regiões distantes de centros de dialise.” A Renal Prime conta com
                        equipe altamente especializada e experiente nesta modalidade.
                    </h6>

                </div>
            </div>



        </div>
    </div>
</header>