@{
    ViewData["Title"] = "Dialog +";
}
<header class="site-header d-flex  section-header-nav" >
    <div class="container" data-aos="fade-up">
        <div class="row resposiva-container">
            <div class="container col-md-6" id="menu-navegacao">
                <img src="/images/img_person/img57_removed_bg_red.png" />

            </div>
            <div class="container col-md-6" id="menu-navegacao">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  DIALOG +</li>
                    </ol>
                </nav>


                <h2>Tecnologia</h2>
                <h4>dialog +</h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A máquina de hemodiálise Dialog+ oferece
                        tecnologia avançada para o tratamento de
                        pacientes com insuficiência renal aguda ou crônica.
                        Com um monitor LCD giratório de 15”
                        , permite a
                        visualização completa dos parâmetros de diálise,
                        proporcionando maior segurança e rapidez no
                        atendimento pela equipe de enfermagem. O sistema
                        de mistura da solução de hemodiálise, com controle
                        individualizado de bicarbonato e condutividade,
                        garante uma precisão elevada na composição da
                        solução, possibilitando ajustes personalizados
                        conforme as necessidades clínicas de cada paciente.
                    </h6>

                </div>
            </div>



        </div>
    </div>
</header>
<header class="d-flex " id="container-beneficios">
    <div class="container" data-aos="fade-right">
        <div class="row resposiva-container">
           
            <div class="container col-md-6" id="menu-navegacao">
                


                <h2>BENEFÍCIOS</h2>
                <h4>
                    PARA O PACIENTE
                </h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A hemodiafiltração oferecida pelo equipamento melhora
                        significativamente a qualidade de vida dos pacientes,
                        removendo moléculas maiores e proporcionando uma
                        filtração mais completa do sangue, o que reduz a fadiga e
                        outros sintomas. Com um sistema de ultrafiltração
                        sequencial automatizado, o equipamento ajusta a remoção
                        de líquidos durante a terapia, garantindo maior estabilidade
                        hemodinâmica e aumentando o conforto ao minimizar
                        quedas de pressão. Além disso, a precisão no controle da
                        solução de diálise e a monitorização contínua da pressão
                        sanguínea asseguram um tratamento eficaz e seguro. A
                        função Stand By economiza água e energia, reforçando a
                        sustentabilidade e a economia durante o uso.
                    </h6>

                </div>
            </div>
            <div class="container col-md-6" id="menu-navegacao">
                <img src="/images/img_person/img64._removed_bg.png" />

            </div>



        </div>
    </div>
</header>