
@{
    ViewData["Title"] = "Hemodiafiltração";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-sm-12 col-md-7" id="menu-navegacao" data-aos="fade-right">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Hemodiafiltração</li>
                    </ol>
                </nav>


                <h2>Hemodiafiltração</h2>
                <h4>Tecnologia</h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A hemodiafiltração (HDF) é uma técnica avançada que atua como uma 
                        "limpeza profunda" do sangue, removendo não apenas os resíduos comuns,
                        mas também moléculas maiores por meio da convecção. Isso resulta em uma purificação mais 
                        eficiente e promove um fluxo sanguíneo mais suave, reduzindo efeitos colaterais 
                        como mal-estar e quedas de pressão. Como consequência, há uma melhora significativa 
                        na qualidade de vida e na longevidade dos pacientes com insuficiência renal crônica. 
                        Estudos indicam que a HDF pode reduzir a mortalidade geral em 16% e a mortalidade 
                        cardiovascular em 27%, oferecendo uma alternativa superior à hemodiálise convencional, 
                        com um tratamento mais seguro e eficaz.

                    </h6>

                </div>
            </div>
            <div class="container col-sm-6 col-md-5 ml-5" id="menu-navegacao">
           

                <div class="container-bl" >

                    <div class="content-wrapper" style="position:relative;height:auto;">

                        <div class="images-container">
                            <div class="circle circle-large circle-large-hemodiafiltracao" data-aos="fade-down-left">
                                <img src="/images/img_person/img70.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium circle-medium-hemodiafiltracao" data-aos="fade-down-right">
                                <img src="/images/img_person/img69.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small circle-small-hemodiafiltracao" data-aos="fade-up">
                                <img src="/images/img_person/img71.jpg" alt="Imagem 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
           

        </div>
    </div>
</header>