
@{
    ViewData["Title"] = "Hemodiafiltração";
}
<header class="site-header d-flex  section-header-nav">
    <div class="container">
        <div class="row resposiva-container">
            <div class="container col-sm-12 col-md-7" id="menu-navegacao">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Hemodiafiltração</li>
                    </ol>
                </nav>


                <h2>HEMODIAFILTRAÇÃO</h2>
                <h4>Tecnologia</h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A hemodiafiltração (HDF) é uma técnica avançada que age
                        como uma limpeza profunda no sangue, removendo não
                        apenas os resíduos comuns, mas também moléculas maiores
                        através da convecção, o que resulta em uma purificação
                        mais eficiente e uma "pavimentação" adicional para o fluxo
                        sanguíneo. Isso reduz efeitos colaterais como mal-estar e
                        quedas de pressão, melhorando significativamente a
                        qualidade de vida e a longevidade dos pacientes com
                        insuficiência renal crônica. Estudos mostram que a HDF pode
                        reduzir a mortalidade geral em 16% e a mortalidade
                        cardiovascular em 27%, oferecendo uma alternativa superior
                        à hemodiálise convencional e garantindo um tratamento
                        mais seguro e eficaz.
                    </h6>

                </div>
            </div>
            <div class="container col-sm-6 col-md-5 ml-5" id="menu-navegacao">
           

                <div class="container-bl" >

                    <div class="content-wrapper" style="position:relative;height:auto;">

                        <div class="images-container">
                            <div class="circle circle-large circle-large-hemodiafiltracao">
                                <img src="/images/img_person/img70.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium circle-medium-hemodiafiltracao">
                                <img src="/images/img_person/img69.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small circle-small-hemodiafiltracao">
                                <img src="/images/img_person/img71.jpg" alt="Imagem 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
           

        </div>
    </div>
</header>