@{
    ViewData["Title"] = "Home";
}
<style>

</style>

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
         style="height: 70vh;margin-top:0" data-aos="fade-up">


    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-12 mx-auto">
                <h1 class="text-center" style="color:var(--sauvignon)">Banners aqui </h1>

                <h6 class="text-center" style="color:var(--sauvignon)">Inserção de banner(s)</h6>

             @*    <div class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search" style="margin-bottom:0!important">
                    <div class="input-group input-group-lg" id="group-input">
                        <span class="input-group-text bi-search" id="basic-addon1">

                        </span>

                        <input name="keyword" type="search" autocomplete="off"
                               class="form-control" id="keyword" placeholder="Digite 4 caracteres ou mais " aria-label="Search">

                    </div>
                </div>
                <div id="search-results"></div> *@
            </div>


        </div>
    </div>
</section>


<!-- <section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Web Design</h5>

                                <p class="mb-0">When you search for free CSS templates, you will notice that TemplateMo is one of the best websites.</p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Topic Listing Template includes homepage, listing page, detail page, and contact page. You can feel free to edit and adapt for your CMS requirements.</p>

                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>Designms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->


<section class="explore-section section-padding bg-renal" id="section_1" style="background-color:var(--sauvignon)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xxl-6 text-start" id="container-wellcome" data-aos="fade-right">
                <h2 class="">BEM-VINDO</h2>
                <h4>À RENAL PRIME</h4>
                <div class="custom-block">
                    <p class="mb-0" id="content-wellcome">
                        Oferecemos uma gama completa de serviços especializados para o
                        cuidado integral de pacientes com doença renal crônica. Nossos
                        serviços incluem hemodiafiltração, diálise peritoneal,
                        acompanhamento pré e pós-transplante renal, além de
                        especialidades como clínica médica, cardiologia,
                        endocrinologia, nefrologia geral, nefropediatria e
                        nefrologia para transplantes.
                        A Clínica Renal Prime garante um atendimento multidisciplinar,
                        sempre priorizando a saúde e o bem-estar dos nossos pacientes.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xxl-6" data-aos="fade-left">
                <div class="custom-block">
                    <!-- <img src="/images/img_person/img108.jpg"> -->
                    <div class="img-custom-block">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">

            <div class="col-12" id="container-master-wellcome">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">

                        <div class="row mt-5">


                            <div class="col-lg-6 col-md-12 col-12 mb-4 mb-lg-0" data-aos="flip-left">

                                <div class="custom-block">


                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2 mt-3" id="title-container-wellcome">
                                                CUIDADO DE EXCELÊNCIA E BEM-ESTAR INTEGRAL
                                            </h5>
                                            <!-- <img src="/images/img_person/img39.jpg" class="custom-block-image img-fluid" alt=""> -->
                                            <p class="mb-0" id="content-wellcome">
                                                Nossa missão é proporcionar cuidados
                                                de excelência em tratamentos renais, priorizando
                                                a saúde e o bem-estar de cada paciente.

                                            </p>
                                        </div>

                                        <!-- <span class="badge bg-design rounded-pill ms-auto">75</span> -->
                                    </div>



                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-12" data-aos="flip-up">
                                <div class="custom-block ">

                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2 mt-3" id="title-container-wellcome">
                                                REFERÊNCIA EM TRATAMENTOS RENAIS

                                            </h5>
                                            <!-- <img src="/images/img_person/img40.jpg" class="custom-block-image img-fluid" alt=""> -->
                                            <p class="mb-0" id="content-wellcome">
                                                Almejamos ser a principal referência em tratamentos renais no Brasil,
                                                reconhecidos por nossa inovação, eficiência e humanização no atendimento.

                                            </p>
                                        </div>

                                        <!-- <span class="badge bg-design rounded-pill ms-auto">100</span> -->
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<section class="timeline-section section-padding" id="section_3" data-aos="flip-left">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">
            <h5 id="title-menu-renal" style="color:var(--sauvignon)">Renal Prime</h5>
            <div class="col-6" id="title-comprimisso">
                <h2 class="text-white mb-4">Nosso Compromisso</h2>

            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="mb-3" id="subtitle-compromisso">Missão</h4>

                            <p class="text-white">
                                Proporcionar cuidados renais de excelência,
                                desde a prevenção até os tratamentos avançados, como
                                hemodiafiltração, diálise peritoneal, transplantes
                                e cuidados pediátricos, sempre com foco no bem-estar e
                                conforto do paciente.

                            </p>

                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3" id="subtitle-compromisso">Visão</h4>

                            <p class="text-white">
                                Ser referência no Brasil em inovação,
                                humanização e eficiência em tratamentos renais,
                                melhorando a qualidade de vida dos pacientes e
                                inspirando novas práticas no setor de saúde.

                            </p>

                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3" id="subtitle-compromisso">Valores</h4>
                            <ul class="listagem-compromisso">
                                <li>
                                    Excelência no atendimento
                                </li>
                                <li>
                                    Ética e integridade
                                </li>
                                <li>Transparência</li>
                                <li>
                                    Respeito e dignidade

                                </li>
                                <li>Eficiência</li>
                                <li>
                                    Cuidado compassivo

                                </li>
                                <li>
                                    Inovação e atualização contínua

                                </li>
                            </ul>


                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-12 text-center mt-5">
                <p class="text-white">
                    Want to learn more?
                    <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                </p>
            </div> -->
        </div>
    </div>
</section>
<section class="explore-section section-padding bg-renal bg-position-top-right" id="section_4">
    <div class="container">
        <div class="row">
            <h5 id="title-menu-renal">Renal Prime</h5>
            <div class="col-md-6 text-start" id="container-wellcome" <div data-aos="zoom-out">
                <h2 class="">Jornada  </h2>
                <h4 style="text-transform: uppercase;">do Paciente</h4>
                <div class="custom-block" style="padding:0;">
                    <p class="mb-0" id="content-wellcome">
                        Na Clínica Renal Prime, a avaliação ambulatorial de candidatos ao
                        transplante renal é essencial para garantir a qualidade de vida e
                        reduzir despesas médicas. Nossa equipe especializada realiza uma
                        coleta detalhada do histórico, exames complementares e entrevistas
                        para avaliar riscos. A decisão de inclusão na lista de espera é feita
                        em reunião com uma equipe multidisciplinar, levando em consideração a
                        relação risco/benefício.
                Para pacientes com doença renal crônica, oferecemos sessões de hemodiafiltração personalizadas,
                de acordo com as necessidades de cada paciente, além de acompanhamento nutricional,
                suporte multidisciplinar e monitoramento da saúde mental, proporcionando uma jornada
                de cuidados completa e integrada.

                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="custom-block">
                    <!-- <img src="/images/img_person/img108.jpg"> -->
                    <div class="custom-block-jornada">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12" id="container-master-wellcome">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">

                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-12 mb-4 mb-lg-0">

                                <div class="custom-block">
                                    <a href="#">

                                        <div class="d-flex">
                                            <div>

                                                <!-- <img src="/images/img_person/img39.jpg" class="custom-block-image img-fluid" alt=""> -->
                                                <p class="mb-0" id="content-wellcome">
                                                    Na Clínica Renal Prime, valorizamos cada etapa da
                                                    jornada do paciente, desde a avaliação inicial até o 
                                                    tratamento contínuo. Comprometidos com a excelência, 
                                                    garantimos que todas as fases — seja na preparação 
                                                    para o transplante, nas sessões de hemodiafiltração 
                                                    ou no suporte diário — sejam conduzidas com dedicação, 
                                                    oferecendo um atendimento personalizado e humanizado para 
                                                    promover o bem-estar e a qualidade de vida dos nossos pacientes.
                                                </p>
                                            </div>

                                            <!-- <span class="badge bg-design rounded-pill ms-auto">75</span> -->
                                        </div>


                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>
</section>

@* @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/searchbar.js"></script>


} *@



