@{
    ViewData["Title"] = "Home Page";
}


<section class="hero-section d-flex justify-content-center align-items-center" id="section_1" style="height: 70vh;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Banners</h1>

                <h6 class="text-center text-white">Informações sobre o banner</h6>


            </div>

        </div>
    </div>
</section>


<!-- <section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Web Design</h5>

                                <p class="mb-0">When you search for free CSS templates, you will notice that TemplateMo is one of the best websites.</p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Topic Listing Template includes homepage, listing page, detail page, and contact page. You can feel free to edit and adapt for your CMS requirements.</p>

                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>Designms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->


<section class="explore-section section-padding" id="section_1" style="background-color:var(--sauvignon)">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-start" id="container-wellcome" data-aos="fade-right">
                <h2 class="">BEM-VINDO</h2>
                <h4>À RENAL PRIME</h4>
                <div class="custom-block">
                    <p class="mb-0" id="content-wellcome">
                        Oferecemos uma gama completa de serviços
                        especializados para o cuidado integral de
                        pacientes com doença renal crônica. Nossos
                        serviços incluem hemodiafiltração, diálise
                        peritoneal, acompanhamento pré e pós transplante renal, além das especialidades:
                        clínica médica, cardiologia, endocrinologia,
                        nefrologia geral, nefropediatria e nefrologia para
                        transplantes. A Clínica Renal Prime garante
                        atendimento multidisciplinar, sempre priorizando
                        a saúde e o bem-estar dos nossos pacientes.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <div class="custom-block">
                    <!-- <img src="/images/img_person/img108.jpg"> -->
                    <div class="img-custom-block">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">

            <div class="col-12" id="container-master-wellcome">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">

                        <div class="row">


                            <div class="col-lg-6 col-md-8 col-12 mb-4 mb-lg-0" data-aos="flip-left">

                                <div class="custom-block">
                                    <a href="#">

                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2 mt-3" id="title-container-wellcome">
                                                    CUIDADO DE EXCELÊNCIA E BEM-ESTAR INTEGRAL
                                                </h5>
                                                <!-- <img src="/images/img_person/img39.jpg" class="custom-block-image img-fluid" alt=""> -->
                                                <p class="mb-0" id="content-wellcome">
                                                    Nossa missão é proporcionar cuidados de excelência em tratamentos renais,
                                                    priorizando a saúde e o bem-estar de cada paciente.
                                                </p>
                                            </div>

                                            <!-- <span class="badge bg-design rounded-pill ms-auto">75</span> -->
                                        </div>


                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-8 col-12" data-aos="flip-up">
                                <div class="custom-block ">
                                    <a href="#">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2 mt-3" id="title-container-wellcome">
                                                    REFERÊNCIA EM
                                                    TRATAMENTOS RENAIS
                                                </h5>
                                                <!-- <img src="/images/img_person/img40.jpg" class="custom-block-image img-fluid" alt=""> -->
                                                <p class="mb-0" id="content-wellcome">
                                                    Almejamos ser a principal referência em tratamentos
                                                    renais no Brasil, reconhecidos pela nossa inovação, eficiência e
                                                    humanização no atendimento.
                                                </p>
                                            </div>

                                            <!-- <span class="badge bg-design rounded-pill ms-auto">100</span> -->
                                        </div>


                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Advertising</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                        </div>

                                        <img src="images/topics/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Video Content</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                                        </div>

                                        <img src="images/topics/undraw_Group_video_re_btu7.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Viral Tweet</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                        </div>

                                        <img src="images/topics/undraw_viral_tweet_gndb.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Investment</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                        </div>

                                        <img src="images/topics/undraw_Finance_re_gnv2.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="custom-block custom-block-overlay">
                                    <div class="d-flex flex-column h-100">
                                        <img src="images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg" class="custom-block-image img-fluid" alt="">

                                        <div class="custom-block-overlay-text d-flex">
                                            <div>
                                                <h5 class="text-white mb-2">Finance</h5>

                                                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis</p>

                                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                            </div>

                                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                                        </div>

                                        <div class="social-share d-flex">
                                            <p class="text-white me-4">Share:</p>

                                            <ul class="social-icon">
                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                                </li>

                                                <li class="social-icon-item">
                                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                                </li>
                                            </ul>

                                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                        </div>

                                        <div class="section-overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Composing Song</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">45</span>
                                        </div>

                                        <img src="images/topics/undraw_Compose_music_re_wpiw.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Online Music</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">45</span>
                                        </div>

                                        <img src="images/topics/undraw_happy_music_g6wc.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Podcast</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-music rounded-pill ms-auto">20</span>
                                        </div>

                                        <img src="images/topics/undraw_Podcast_audience_re_4i5q.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Graduation</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-education rounded-pill ms-auto">80</span>
                                        </div>

                                        <img src="images/topics/undraw_Graduation_re_gthn.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Educator</h5>

                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>

                                            <span class="badge bg-education rounded-pill ms-auto">75</span>
                                        </div>

                                        <img src="images/topics/undraw_Educator_re_ju47.png" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">
            <h5 id="title-menu-renal" style="color:var(--sauvignon)">Renal Prime</h5>
            <div class="col-6" id="title-comprimisso">
                <h2 class="text-white mb-4">Nosso Compromisso</h2>

            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="mb-3" id="subtitle-compromisso">Missão</h4>

                            <p class="text-white">
                                Proporcionar cuidados renais de excelência, desde a prevenção até
                                tratamentos avançados como hemodiafiltração, diálise peritoneal,
                                transplantes e cuidados pediátricos, com foco no bem-estar e conforto do
                                paciente.
                            </p>

                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3" id="subtitle-compromisso">Visão</h4>

                            <p class="text-white">
                                Ser referência no Brasil em inovação, humanização e eficiência em
                                tratamentos renais, melhorando a qualidade de vida dos pacientes e
                                inspirando novas práticas no setor de saúde.
                            </p>

                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3" id="subtitle-compromisso">Valores</h4>
                            <ul class="listagem-compromisso">
                                <li>Excelência no atendimento</li>
                                <li>
                                    Ética e integridade
                                </li>
                                <li>Transparência</li>
                                <li>
                                    Respeito e dignidade
                                </li>
                                <li>Eficiência</li>
                                <li>
                                    Cuidado compassivo
                                </li>
                                <li>
                                    Inovação e atualização contínua
                                </li>
                            </ul>


                            <div class="icon-holder">
                                <img src="/images/logo/logo_transp.png" width="100" height="100" style="margin-bottom: .5em;">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-12 text-center mt-5">
                <p class="text-white">
                    Want to learn more?
                    <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                </p>
            </div> -->
        </div>
    </div>
</section>
<section class="explore-section section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <h5 id="title-menu-renal">Renal Prime</h5>
            <div class="col-md-6 text-start" id="container-wellcome" <div data-aos="zoom-out">
                <h2 class="">Jornada  </h2>
                <h4 style="text-transform: uppercase;">do Paciente</h4>
                <div class="custom-block" style="padding:0;">
                    <p class="mb-0" id="content-wellcome">
                        Na Clínica Renal Prime, a avaliação ambulatorial para
                        candidatos ao transplante renal é fundamental para
                        garantir qualidade de vida e reduzir despesas médicas,
                        conduzida por uma equipe especializada que realiza
                        coleta detalhada de histórico, exames complementares e
                        entrevistas para avaliar riscos. A decisão de incluir o
                        paciente na lista de espera é feita em reunião com uma
                        equipe multidisciplinar, considerando a relação
                        risco/benefício. Para pacientes com doença renal crônica,
                        a clínica oferece sessões de hemodiafiltração de acordo
                        com o cuidado integralizado de cada paciente.,
                        acompanhamento nutricional, suporte multidisciplinar e
                        monitoramento da saúde mental para uma jornada de
                        cuidados completa e integrada.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="custom-block">
                    <!-- <img src="/images/img_person/img108.jpg"> -->
                    <div class="custom-block-jornada">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12" id="container-master-wellcome">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">

                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-12 mb-4 mb-lg-0">

                                <div class="custom-block">
                                    <a href="#">

                                        <div class="d-flex">
                                            <div>

                                                <!-- <img src="/images/img_person/img39.jpg" class="custom-block-image img-fluid" alt=""> -->
                                                <p class="mb-0" id="content-wellcome">
                                                    Na Clínica Renal Prime, valorizamos cada etapa da jornada do
                                                    paciente com atenção meticulosa e cuidado integral, desde a
                                                    avaliação inicial até o tratamento contínuo. Comprometidos
                                                    com a excelência, garantimos que cada fase, seja na
                                                    preparação para o transplante, nas sessões de
                                                    hemodiafiltração ou no suporte diário, seja conduzida com a
                                                    máxima dedicação, proporcionando um atendimento
                                                    personalizado e humanizado para promover o bem-estar e a
                                                    qualidade de vida dos nossos pacientes.
                                                </p>
                                            </div>

                                            <!-- <span class="badge bg-design rounded-pill ms-auto">75</span> -->
                                        </div>


                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>
</section>




@* <section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Get in touch</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">Head office</h4>

                <p>Bay St &amp;, Larkin St, San Francisco, CA 94109, United States</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">Dubai office</h4>

                <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 110-220-3400" class="site-footer-link">
                        110-220-3400
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

        </div>
    </div>
</section> *@


