
@{
    ViewData["Title"] = "Mobissom";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container" >
            <div class="container col-md-12 col-lg-7" id="menu-navegacao" data-aos="fade-right">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Mobissom</li>
                    </ol>
                </nav>

                <div class="line"></div>
                <h2>Mobissom</h2>
                <h4>
                    Punções de Fístula e Avaliação de Volemia Guiada por Ultrassom

                </h4>
                <div  style="text-align:justify;">
                    <h6 class="line-height-person">
                        O Mobissom é um aparelho de ultrassonografia portátil
                        que oferece diversas aplicações, como ultrassom
                        abdominal, point-of-care cardíaco, avaliações renais,
                        identificação rápida de sangramentos internos, além de
                        exames de tireoide, músculo esquelético, punções
                        superficiais e infiltrações. Ele também possibilita a
                        mensuração de tecido adiposo e facilita a entrada de
                        acesso central. Na Clínica Renal Prime, o uso do Mobissom
                        representa um diferencial significativo, proporcionando
                        maior conforto e segurança para o paciente, ao permitir
                        avaliações rápidas e precisas diretamente no local de
                        atendimento.


                    </h6>

                </div>
            </div>
            <div class="container col-md-12 col-lg-4" id="menu-navegacao" style="height:550px;">

                <div class="container-bl background-none" style="position:relative;"
    data-aos="flip-right">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large">
                                <img src="/images/img_person/img76.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium">
                                <img src="/images/img_person/img78.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small">
                                <img src="/images/img_person/img71.jpg" alt="Imagem 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>