
@{
    ViewData["Title"] = "Mobissom";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container" >
            <div class="container col-md-12 col-lg-6" id="menu-navegacao" data-aos="fade-right">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Mobissom</li>
                    </ol>
                </nav>


                <h2>Mobissom</h2>
                <h4>
                    PUNÇÕS DE FÍTSOLA E
                    AVALIAÇÃO DE VOLEMIAS
                    GUIADAS POR ULTRASSOM
                </h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A hemodiafiltração (HDF) é uma técnica avançada que age
                        como uma limpeza profunda no sangue, removendo não
                        apenas os resíduos comuns, mas também moléculas maiores
                        através da convecção, o que resulta em uma purificação
                        mais eficiente e uma "pavimentação" adicional para o fluxo
                        sanguíneo. Isso reduz efeitos colaterais como mal-estar e
                        quedas de pressão, melhorando significativamente a
                        qualidade de vida e a longevidade dos pacientes com
                        insuficiência renal crônica. Estudos mostram que a HDF pode
                        reduzir a mortalidade geral em 16% e a mortalidade
                        cardiovascular em 27%, oferecendo uma alternativa superior
                        à hemodiálise convencional e garantindo um tratamento
                        mais seguro e eficaz.
                    </h6>

                </div>
            </div>
            <div class="container col-md-4 col-lg-6" id="menu-navegacao">

                <div class="container-bl background-none" style="background: var(--verde-mineral);
    border-radius: 25% 17px;" data-aos="flip-right">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large">
                                <img src="/images/img_person/img76.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium">
                                <img src="/images/img_person/img78.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small">
                                <img src="/images/img_person/img71.jpg" alt="Imagem 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>