@{
    ViewData["Title"] = "Nossa Clínica";
}
<style>
    main {
        background-color: var(--sauvignon)
    }
</style>
<section class="site-header d-flex  section-header-nav bg-renal">
    <div class="container" data-aos="fade-left">
        <div class="row resposiva-container">

            <div class="container col-sm-12 col-md-12 col-lg-7 container-flexivel" id="menu-navegacao">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Nossa Clínica</li>
                    </ol>
                </nav>

                <div class="line"></div>
                <h2>
                    Ambiente 
                </h2>
                <h4>
                    Acolhedor
                </h4>
                <div  style="text-align:justify;">
                    <h6 class="line-height-person">
                        A Clínica Renal Prime foi cuidadosamente 
                        planejada para oferecer o máximo de conforto e bem-estar,
                        pois acreditamos que o cuidado começa antes mesmo do tratamento! 
                        Com 16 leitos aconchegantes, espaços amplos, móveis ergonômicos e 
                        uma paleta de cores suaves que traz tranquilidade até nos dias mais 
                        agitados, cada detalhe foi pensado para proporcionar uma experiência
                        relaxante e acolhedora. Nossa estrutura moderna combina funcionalidade e estética, 
                        garantindo que os pacientes se sintam tão bem cuidados quanto o próprio ambiente.

                    </h6>

                </div>
            </div>

            <div class="container col-sm-12 col-md-12 col-lg-5  container-none" id="menu-navegacao" data-aos="fade-up-right"
                 style="height:auto;padding:1em;">

                <div class="container-bl">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large cirle-large-md">
                                <img src="/images/img_person/areas/img99.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium circle-medium-nossa-clinica"
                                 style="border:1px solid white">
                                <img src="/images/img_person/areas/img96.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small circle-small-nossa-clinica">
                                <img src="/images/img_person/areas/img98.jpg" alt="Imagem 3">
                            </div>
                            <div class="circle circle-small circle-small-nossa_clinica2">
                                <img src="/images/img_person/areas/img99.jpg" alt="Imagem 3">
                            </div>
                            <div class="circle circle-small circle-small-nossa_clinica3">
                                <img src="/images/img_person/areas/img100.jpg" alt="Imagem 3">
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<div class="container  " style="display:flex;padding-bottom:5em">
    <div class="row " id="img-grid">
        <div class="col-md-12">
            <img src="/images/img_person/areas/img108.jpg" style="width:100%" class="img-fluid" alt="Imagem 1">
        </div>
        <div class="d-flex">
            <div class="col-md-6">
                <img src="/images/img_person/areas/img106.jpg" class="img-fluid" style="width:100%" alt="Imagem 2">
            </div>
            <div class="col-md-6">
                <div class="col">
                    <img src="/images/img_person/areas/img109_edit.jpg" style="width:100%" class="img-fluid" alt="Imagem 3">
                </div>
                <div class="col">
                    <img src="/images/img_person/areas/img107.jpg" style="width:100%" class="img-fluid" alt="Imagem 3">
                </div>
            </div>

        </div>
    </div>
</div>
<header class="padding-top-container-header mb-5 bg-renal bg-position-top-right">
    <div class="container" data-aos="fade-up">
        <div class="row resposiva-container resposiva-container-row-reverse">
            <div class="container col-md-6" id="menu-navegacao">
                <h5 class="text-end renal-title">Renal Prime</h5>

                <div class="line"></div>
                <h2>
                    Poltrona 
                </h2>
                <h4>
                    Advance
                </h4>
                <div class="mb-4" style="text-align:justify;">
                    <h6 class="line-height-person" data-aos="fade-up">
                        A Poltrona Advance foi projetada para 
                        proporcionar o máximo conforto durante tratamentos 
                        prolongados, como as sessões de hemodiafiltração. 
                        Com ergonomia ajustável, ela permite que os pacientes 
                        encontrem a posição ideal, reduzindo desconforto e fadiga. 
                        Além disso, a poltrona oferece segurança e estabilidade em 
                        diferentes inclinações, utilizando materiais de alta qualidade que 
                        garantem conforto térmico e facilitam a higienização.

                    </h6>

                </div>
              
            </div>

            <div class="container col-md-6" id="menu-navegacao" data-aos="fade-down-left" style="position:relative;" >
                <img src="/images/img_person/img85.jpg" data-aos="fade-down-left" alt="Alternate Text" 
                class="img-fluid img-nossaclinica-dupla"
                    />
                <img src="/images/img_person/img83.jpg"
                     style="border-radius:10px;border:10px solid var(--verde-mineral);height:100%;"
                     class="img-fluid" data-aos="flip-up" />
            </div>


        </div>
    </div>
</header>
<header class="padding-top-container-header bg-renal" style="padding-bottom:3em">
    <div class="container" data-aos="fade-right">
        <div class="row resposiva-container">
            <div class="container col-md-12 col-lg-6" id="menu-navegacao">
                <h5 class="text-start renal-title">Renal Prime</h5>

                  <div class="line"></div>
                <h2>Investimento </h2>
                <h4>
                    em Bem-Estar e Tecnologia

                </h4>
                <div class="mb-4" style="text-align:justify;">
                    <h6 class="line-height-person" data-aos="fade-up">
                        A Clínica Renal Prime se orgulha de investir constantemente no bem-estar de seus pacientes, 
                        reconhecendo que um atendimento humanizado e acolhedor é essencial para o sucesso do tratamento. 
                        Nossa infraestrutura é equipada com as mais modernas tecnologias, permitindo-nos oferecer tratamentos 
                        de ponta com resultados mais rápidos e eficientes. Acreditamos que a combinação entre inovação e cuidado 
                        pessoal é o que realmente faz a diferença para nossos pacientes.
                    </h6>

                </div>
             
            </div>

            <div class="container col-md-12 col-lg-6" id="menu-navegacao" data-aos="flip-up"
            style="background:var(--verde-mineral);border-radius:10px 50%;display:flex;
            align-items:center;justify-content:center;padding:1em 0;">
            
                <img src="/images/img_person/img50.jpg"
                   style="border-radius:50%"
                     class="img-fluid" />
            </div>


        </div>
    </div>
</header>


