@{
    ViewData["Title"] = "Nossa Clínica";
}
<style>
    main {
        background-color: var(--sauvignon)
    }
</style>
<header class="site-header d-flex  section-header-nav">
    <div class="container" data-aos="fade-left">
        <div class="row resposiva-container">

            <div class="container col-sm-12 col-md-12 col-lg-5 container-flexivel" id="menu-navegacao">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Nossa Clínica</li>
                    </ol>
                </nav>


                <h2>AMBIENTE</h2>
                <h4>
                    ACOLHEDOR
                </h4>
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        A Clínica Renal Prime foi cuidadosamente planejada
                        para oferecer o máximo de conforto e bem-estar,
                        porque aqui acreditamos que o cuidado começa
                        antes mesmo do tratamento! Com 16 leitos
                        aconchegantes, espaços amplos, móveis
                        ergonômicos e cores suaves que acalmam até os
                        dias mais agitados, cada detalhe foi pensado para
                        proporcionar uma experiência relaxante e
                        acolhedora. Nossa estrutura moderna une
                        funcionalidade e estética, garantindo que os
                        pacientes se sintam tão bem cuidados quanto o
                        próprio ambiente.
                    </h6>

                </div>
            </div>

            <div class="container col-sm-12 col-md-12 col-lg-6  container-none" id="menu-navegacao" data-aos="fade-up-right"
                 style="height:auto;padding:1em;">

                <div class="container-bl">

                    <div class="content-wrapper">

                        <div class="images-container">
                            <div class="circle circle-large cirle-large-md">
                                <img src="/images/img_person/areas/img99.jpg" alt="Imagem 1">
                            </div>
                            <div class="circle circle-medium circle-medium-nossa-clinica"
                                 style="border:1px solid white">
                                <img src="/images/img_person/areas/img96.jpg" alt="Imagem 2">
                            </div>
                            <div class="circle circle-small circle-small-nossa-clinica">
                                <img src="/images/img_person/areas/img98.jpg" alt="Imagem 3">
                            </div>
                            <div class="circle circle-small circle-small-nossa_clinica2">
                                <img src="/images/img_person/areas/img99.jpg" alt="Imagem 3">
                            </div>
                            <div class="circle circle-small circle-small-nossa_clinica3">
                                <img src="/images/img_person/areas/img100.jpg" alt="Imagem 3">
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>

<div class="container " style="display:flex;padding-bottom:5em">
    <div class="row" id="img-grid">
        <div class="col-md-12">
            <img src="/images/img_person/areas/img108.jpg" style="width:100%" class="img-fluid" alt="Imagem 1">
        </div>
        <div class="d-flex">
            <div class="col-md-6">
                <img src="/images/img_person/areas/img106.jpg" class="img-fluid" style="width:100%" alt="Imagem 2">
            </div>
            <div class="col-md-6">
                <div class="col">
                    <img src="/images/img_person/areas/img109_edit.jpg" style="width:100%" class="img-fluid" alt="Imagem 3">
                </div>
                <div class="col">
                    <img src="/images/img_person/areas/img107.jpg" style="width:100%" class="img-fluid" alt="Imagem 3">
                </div>
            </div>

        </div>
    </div>
</div>
<header class="padding-top-container-header mb-5">
    <div class="container" data-aos="fade-up">
        <div class="row resposiva-container">
            <div class="container col-md-7" id="menu-navegacao">
                <h5 class="text-start renal-title">Renal Prime</h5>


                <h2>Poltrona</h2>
                <h4>
                    Advance
                </h4>
                <div class="container mb-4" style="text-align:justify;">
                    <h6 class="line-height-person" data-aos="fade-up">
                        A Poltrona Advance foi projetada para proporcionar
                        máximo conforto durante tratamentos prolongados,
                        como sessões de hemodiafiltração. Com ergonomia ajustável,
                        ela permite que os pacientes encontrem a posição ideal,
                        reduzindo desconforto e fadiga. Além disso, oferece segurança e
                        estabilidade em diferentes inclinações, utilizando materiais
                        de alta qualidade que garantem conforto térmico e facilitam a higienização.
                    </h6>

                </div>
                <img src="/images/img_person/img85.jpg" data-aos="fade-down-left" alt="Alternate Text" class="img-fluid"
                     style="border-radius:10px;border:10px solid var(--verde-mineral)" />
            </div>

            <div class="container col-md-5" id="menu-navegacao" data-aos="fade-down-left">

                <img src="/images/img_person/img83.jpg"
                     style="border-radius:10px;border:10px solid var(--verde-mineral)"
                     class="img-fluid" />
            </div>


        </div>
    </div>
</header>
