@{
    ViewData["Title"] = "Política de privacidade";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container">
            <div class="col-md-12 col-lg-12" id="menu-navegacao" data-aos="fade-right">
                <h5 class="text-start renal-title">Renal Prime</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">  Políticas de privacidade</li>
                    </ol>
                </nav>


                <h2>Políticas</h2>
                <h4>
                    de privacidade

                </h4>
                <div style="text-align:justify;">
                    <div class="line-height-person" id="background-img-logo">

                        A Clínica RenalPrime atua como controladora de dados no que se refere à coleta, à utilização,
                        à transferência e ao tratamento (a seguir conjuntamente designados como “tratamento”) de
                        certos dados pessoais identificáveis sobre você ("Dados Pessoais"), em especial conforme a Lei nº 13.709/18 - Lei Geral de Proteção de Dados (LGPD).

                        <br />


                        1. Quais são os Dados Pessoais tratados? Podemos tratar as seguintes categorias de Dados
                        Pessoais em conexão com o tratamento fornecido a você:
                        Dados de identificação: dados de identidade e informações de contato, documento nacional de
                        identificação e CPF, número de registros médicos, dados relacionados ao seu seguro de saúde e assinatura.
                        Dados de saúde: dados relacionados ao tratamento, incluindo diagnósticos, resultados de exames,
                        protocolos de tratamento, medicamentos, declarações ou informações em prontuário médico, dados relacionados a
                        ocorrências imprevistas (adversas), incluindo tipo de incidente, data do óbito, bem como outros dados relacionados
                        à sua saúde necessários para a realização de nossos serviços médicos.
                        Dados de contato de terceiros: dados de identificação, detalhes de contato (se fornecidos por você) de um membro
                        da família ou de outra pessoa indicada por você para ser contatada em caso de emergência ou quando tal pessoa tiver
                        sido autorizada por você a acessar informações sobre sua saúde ou sua documentação médica.
                        Imagem: sua imagem captada por câmeras de segurança ou fotos necessárias para sua identificação.
                        <br />
                        2. Como Coletamos seus Dados Pessoais? Coletamos seus Dados Pessoais diretamente de você. No entanto, quando necessário para seus cuidados, a RenalPrime pode solicitar seus Dados Pessoais, incluindo dados de saúde mantidos pelo seu médico ou pelo hospital que o trata. Isso permite que a clínica receba do seu médico ou do hospital qualquer documentação central necessária ao tratamento atual.
                        <br />
                        3. Para quais finalidades a Clínica RenalPrime trata estes Dados Pessoais e qual é a base legal desse tratamento?
                        A RenalPrime trata os Dados Pessoais dos pacientes para as finalidades descritas nesta seção ("Finalidades do Tratamento") e com as seguintes bases legais: a) Cumprimento de uma obrigação legal (art. 7º, II, LGPD) e necessidade para fins de diagnóstico médico, prestação de cuidados de saúde ou tratamento (art. 11, II, f, LGPD)

                        Para cumprir as obrigações legais da RenalPrime como prestadora de serviços de saúde financiados pela Administração Pública: A RenalPrime trata os dados de identificação dos pacientes e os dados de contato de terceiros para cumprir as obrigações legais da RenalPrime como prestadora de serviços de saúde financiados pela Administração Pública, incluindo o Sistema Único de Saúde ("SUS"). Outro objetivo é fornecer serviços de saúde, a fim de manter e administrar prontuários médicos, realizar cobrança e receber pagamentos, reportar-se aos órgãos do setor público, quando solicitado, e referir-se ao SUS, em relação à gestão dessa instituição, no que diz respeito a filas de espera de pacientes.
                        Para fornecer documentação médica: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para fornecer documentação médica aos pacientes e a outras pessoas autorizadas.
                        Para arquivar a documentação médica: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros com a finalidade de arquivar a documentação médica.
                        Para realizar procedimentos internos: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para realizar procedimentos internos destinados a assegurar a conformidade da RenalPrime e a de seus funcionários com a lei.
                        Para executar programas de medicamentos: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para executar programas de medicamentos.
                        Para elaborar relatórios gerenciais: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para realizar análises gerenciais para o monitoramento interno da qualidade do tratamento e reportá-lo, no caso de monitoramento externo.

                        b) Execução de Contrato ou de procedimentos preliminares relacionados a Contrato (art. 7º, V, LGPD) e para fins de diagnóstico médico, prestação de cuidados de saúde ou tratamento (art. 11, II, f, LGPD)
                        Para enviar avisos e comunicações: A RenalPrime trata os dados de identificação dos pacientes e os dados de saúde para agendar consultas e sessões de tratamento com o paciente e lembrá-lo de tais compromissos. Você, como tal, receberá mensagens de SMS automáticas, mensagens de WhatsApp ou e-mails para confirmar suas consultas agendadas.
                        Para prestar serviços médicos: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para fornecer a você serviços médicos com base em um Contrato firmado com você, até mesmo para encerrar tal Contrato.
                        Para fornecer assistência médica: A RenalPrime trata os dados de identificação dos pacientes, os dados de saúde e os de contato de terceiros para fornecer a você assistência médica, incluindo o processo de cadastro e registro do paciente; verificação relacionada ao seguro de saúde; pesquisas e fornecimento do tratamento adequado (dentro da clínica, no ambulatório ou em hospitais).
                        Para solicitar exames: A RenalPrime trata os dados de identificação dos pacientes e os dados de saúde para solicitar exames laboratoriais e radiológicos a entidades externas (dentro da clínica, no ambulatório ou em hospitais).
                        Para realização de cobranças e receber pagamentos: A RenalPrime trata os dados de identificação dos pacientes e os dados de saúde para realizar a cobrança e receber pagamentos pelos serviços fornecidos a pacientes cobertos pelo SUS ou que possuem seguro de saúde privado.

                        c) Legítimos interesses (art. 7º, IX, LGPD)
                        Para monitorar a capilaridade e a capacidade operacional voltada à prestação de serviços de saúde, bem como ao gerenciamento da necessidade de expansão: A RenalPrime trata os dados de identificação dos pacientes.

                        d) Legítimos interesses (art. 7º, IX, LGPD) e para ajuizamento, exercício ou defesa de ações judiciais (art. 7º, VI e art. 11, II, d, LGPD)
                        Para ajuizar, exercer e defender reivindicações legais: A RenalPrime pode tratar os dados de identificação dos pacientes, os dados de saúde e os dados de contato de terceiros com a finalidade de estabelecer, exercer e defender reivindicações legais, incluindo situações relacionadas aos serviços fornecidos por prestadores de serviços.
                        Para monitorar e melhorar a qualidade dos serviços: A RenalPrime trata os dados de identificação dos pacientes e os de contato de terceiros para monitorar e melhorar a qualidade dos serviços fornecidos pela RenalPrime, incluindo o monitoramento de conversas telefônicas e verificação da satisfação dos pacientes com os serviços da RenalPrime.
                        Para garantir a segurança: A RenalPrime trata os dados de identificação dos pacientes e a imagem deles para assegurar a segurança física nas instalações da empresa.

                        e) Seu consentimento (art. 7º, I e art. 11, I, LGPD) O consentimento que nossa equipe médica pode obter de você decorre de sua obrigação de manter sigilo profissional, regulada por normas legais setoriais. A RenalPrime não tratará os Dados Pessoais para nenhuma outra finalidade incompatível com as finalidades descritas nesta seção, a menos que seja exigido ou autorizado por lei, ou conforme autorizado por você.
                        Em outras situações, se nós da RenalPrime desejarmos tratar seus Dados Pessoais e não pudermos confiar em outra base legal, podemos solicitar a você que dê consentimento para que isso seja feito com uma finalidade específica.
                        Sempre que seus Dados Pessoais forem ou venham a ser tratados com base em seu consentimento, você pode revogá-lo a qualquer momento.

                        <br />
                        4. Sob quais condições seus Dados Pessoais são transferidos a terceiros?

                        <br />
                        • Reguladores, autoridades e outros terceiros: Conforme necessário para os fins dos tratamentos de dados descritos na Seção 3 deste Aviso de Privacidade, os Dados Pessoais podem ser transferidos para reguladores, tribunais e outras autoridades (por exemplo, autoridades fiscais, jurídicas e de Previdência Social), conselheiros externos independentes (por exemplo, auditores).

                        <br />

                        • Laboratórios, clínicos gerais ou médicos especialistas e hospitais: Conforme necessário para os fins dos tratamentos de dados 
                        descritos na Seção 3 deste Aviso de Privacidade, seus Dados Pessoais podem ser divulgados para laboratórios se a realização de um exame for necessária e, 
                        na medida em que isso seja necessário para o seu tratamento, a RenalPrime pode divulgar seus Dados Pessoais ao clínico geral ou a médicos especialistas, bem como ao hospital.
                        <br />
                        • Outros terceiros: De acordo com o consentimento fornecido por você para os fins nele indicados, bem como utilizando outras bases legais, se necessário para os fins dos tratamentos de dados descritos na Seção 3 deste Aviso de Privacidade, os Dados Pessoais podem ser compartilhados com um ou mais terceiros para tratamento em nome da RenalPrime. Esses terceiros estarão sujeitos a obrigações contratuais de implementar medidas de segurança técnicas e organizacionais apropriadas para proteger os Dados Pessoais e tratá-los apenas conforme as instruções da RenalPrime e dentro dos limites legais.


                        <br />

                        5. Quais são as medidas de segurança implementadas pela RenalPrime?
                        A RenalPrime implementou medidas de segurança organizacionais e técnicas para garantir a segurança dos Dados Pessoais de acordo com as melhores práticas do setor. Asseguramos que a privacidade e a proteção de todos os dados sejam preservadas em conformidade com a LGPD e com as demais exigências legais.
                        <br />
                        6. Por quanto tempo seus Dados Pessoais serão armazenados?
                        A retenção de seus Dados Pessoais ocorre em conformidade com as exigências legais de armazenamento. Seus Dados Pessoais serão objeto de operações de tratamento durante o período necessário para os fins descritos na Seção 3 deste Aviso de Privacidade. Manteremos seus Dados Pessoais armazenados pelo período definido em nosso calendário de retenção, a menos que tenha sido acordado de forma diferente com você ou que seja exigido de maneira diferente por determinação legal.
                        <br />
                        7. Quais são os seus direitos?
                        Em conformidade com a legislação aplicável, particularmente com a LGPD, você tem os seguintes direitos, dentre outros, no que se refere aos seus Dados Pessoais:

                        Direito de obter a confirmação da existência do tratamento de seus Dados Pessoais pela RenalPrime;
                        Direito de obter informações sobre os seus Dados Pessoais armazenados pela RenalPrime, ou seja, o direito de obter acesso aos seus Dados Pessoais e uma cópia desses dados;
                        Direito de correção (retificação) de seus Dados Pessoais – caso os dados estejam inexatos, incompletos ou desatualizados;
                        Direito de requerer a anonimização, o bloqueio ou a eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na legislação em vigor;
                        Direito de portabilidade de seus Dados Pessoais a outros prestadores de serviços de saúde;
                        Direito de obter informações sobre as entidades públicas e privadas com as quais a RenalPrime compartilhou seus Dados Pessoais;
                        Informações sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;
                        Direito de solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de seus Dados Pessoais que afetem seus interesses e direitos.
                        Se tivermos solicitado seu consentimento para operações específicas de tratamento, você tem o direito de revogar seu consentimento a qualquer momento, sem prejuízo da aplicação ao tratamento efetuado com base em seu consentimento anteriormente à revogação.
                        <br />
                        8. Posso me opor ao tratamento dos meus Dados Pessoais?
                        Você tem o direito de se opor ao tratamento de seus Dados Pessoais caso as operações de tratamento não estejam em conformidade com a LGPD e você tenha provas concretas para confirmar essa suspeita.
                        <br />
                        9. Sou obrigado a fornecer os meus Dados Pessoais?
                        Você não é obrigado a fornecer seus Dados Pessoais. No entanto, caso decida não fornecê-los, podemos não ser capazes de oferecer a você o tratamento médico ou os demais serviços descritos neste Aviso de Privacidade. Da mesma forma, se optar por não compartilhar seus dados, você pode não se qualificar para receber tratamento médico financiado por fundos públicos ou seguradoras de saúde.



                    </div>
                    <hr />
                    <div class="container-responsavel" style="font-weight:500"> 
                        <div class="text-start">10 de outubro de 2024</div>
                        <div class="text-start">Última atualização 10 de outubro de 2024</div>
                        <div class="text-start">Responsável XXXXX</div>
                        <div class="text-start"> Contato XXXX</>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
