@{
    ViewData["Title"] = "Transplante Renal";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="w-100">
      
            <div class="container" style="padding:1em 0">
                <div class="row resposiva-container">
                    <h5 class="text-end renal-title">Renal Prime</h5>
                    <div class="container col-md-12 col-lg-5" id="menu-navegacao" data-aos="flip-left">
                        <div class="background-primary-img-transplante"></div>
                        @*  <img src="/images/img_person/img57_removed_bg_red.png" /> *@

                    </div>

                    <div class="container col-md-12 col-lg-7" id="menu-navegacao" data-aos="fade-left">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Início</a></li>

                                <li class="breadcrumb-item active" aria-current="page">
                                Transplante Renal

                                </li>
                            </ol>
                        </nav>


                        <h2>
                        Transplante Renal

                        </h2>
                        @* <h4>dialog +</h4> *@
                        <div class="container" style="text-align:justify;">
                            <h6 class="line-height-person">
                            Na Renal Prime, nosso compromisso é oferecer o melhor suporte dialítico e
                            uma avaliação ágil e eficaz para o transplante renal. Nosso objetivo é garantir 
                            que nossos pacientes tenham a oportunidade de realizar o transplante nas melhores 
                            condições possíveis e no menor tempo viável. Com um tratamento de nefrologia personalizado e 
                            de alta qualidade, buscamos proporcionar a cada paciente uma vida mais longa e com maior qualidade.
                            O transplante renal é considerado o tratamento mais eficaz para a doença renal crônica. Ele pode 
                            ser realizado com um doador falecido, que depende da compatibilidade e da disponibilidade de um doador,
                            ou com um doador vivo, caso em que a avaliação é feita para garantir que a doação ocorra de forma segura e imediata.
                            É fundamental manter um acompanhamento de excelência durante a hemodiálise ou diálise peritoneal,
                            o que não apenas aumenta a sobrevida, mas também prepara o paciente para receber o transplante nas 
                            melhores condições. Vale destacar que não há limite de idade para o transplante renal. Por isso, a 
                            avaliação personalizada é essencial para adequar as melhores terapias a cada caso.
                            </h6>

                        </div>
                    </div>



                </div>
            </div>
        </div>
   
</header>