
@{
    ViewData["Title"] = "Transplante Renal";
}
<header class="site-header d-flex  section-header-nav bg-renal bg-position-top-right">
    <div class="container">
        <div class="row resposiva-container">
            <h5 class="text-end renal-title">Renal Prime</h5>
            <div class="container col-md-12 col-lg-5" id="menu-navegacao" data-aos="flip-left">
                <div class="background-primary-img-transplante"></div>
                @*  <img src="/images/img_person/img57_removed_bg_red.png" /> *@

            </div>

            <div class="container col-md-12 col-lg-7" id="menu-navegacao" data-aos="fade-left">
              
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Início</a></li>

                        <li class="breadcrumb-item active" aria-current="page">
                            Transplante Renal
                        </li>
                    </ol>
                </nav>


                <h2>
                    Transplante Renal
                </h2>
                @* <h4>dialog +</h4> *@
                <div class="container" style="text-align:justify;">
                    <h6 class="line-height-person">
                        Aqui na Renal Prime, nosso compromisso é proporcionar o melhor suporte dialítico e a avaliação para o transplante de maneira ágil e eficaz. Queremos garantir que nossos pacientes tenham a chance de um transplante renal na melhor condição possível e no menor tempo possível. Nossa missão é oferecer um tratamento de nefrologia personalizado e de qualidade, para que cada paciente possa ter uma vida mais longa e com maior qualidade.
                        O transplante renal se destaca como o melhor tratamento para doença renal crônica. O transplante pode ser realizado com um doador falecido ou um doador vivo. No primeiro caso, depende da compatibilidade e do surgimento de um doador. Já no caso de doador vivo, a avaliação é feita para garantir que a doação ocorra de forma segura e imediata.
                        É fundamental manter um bom acompanhamento durante a hemodiálise ou diálise peritoneal, sempre com profissionais de excelência. Isso não só aumenta a sobrevida, mas também prepara o paciente para receber um transplante nas melhores condições possíveis. Importante destacar que não existe limite de idade para o transplante. Por isto a avaliação personalizada pode conciliar as melhores terapêuticas em adequação para cada caso.
                    </h6>

                </div>
            </div>



        </div>
    </div>
</header>