* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neulis Alt'!important;
   
  
}

:root {
    --verde-escuro: #00382e;
    --verde-mineral: #50675a;
    --madeira-escura: #8e5c41;
    --sauvignon: #f6ede6
}

.line-height-person {
    line-height: 30px
}
.navbar {
   /* background-color: initial !important;*/
   transition:.6s;
    background-color: var(--verde-escuro) !important;
}
.renal-title{
    text-transform:uppercase;
    font-weight:bold;
    color:var(--verde-escuro);
}
.padding-top-container-header {
   
    padding-top: 5em;
    border-top: 10px solid var(--verde-escuro)
}

/*.navbar-expand-lg .navbar-nav .nav-link .active {
    color: red;
}*/
/*Efeito fade in */
/*main {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}*/
/* Quando o corpo estiver esmaecendo */
/*.fade-out-main {

    opacity: 0;
    transition:  opacity .6s ease-out;
}*/
/**/
/* Aplica os estilos de fade-in, fade-out no main */
.fade-in-main {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.main-visible {
    opacity: 1;
}

.fade-out-main {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
#section_2,
#section_3,
#section_4 {
    background-color: var(--sauvignon);
}
.container-logo {
    text-align: center;
}

    .container-logo img {
        border: 7px solid var(--verde-mineral);
        border-radius: 50%;
    }

    .container-logo h3 {
        color: var(--sauvignon);
        text-transform: uppercase;
    }

    .container-logo h6 {
        color: var(--sauvignon);
        text-transform: uppercase;
        font-size: medium;
    }

.hero-section {
    background-image: none;
    transition: .6s;
    background-color: var(--verde-escuro);
}

.sticky-wrapper.is-sticky .navbar {
    transition: .6s;
    background-color: var(--verde-mineral);
    z-index:999999999;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end
}
.img-nossaclinica-dupla {
    border-radius: 10px;
    border: 10px solid var(--verde-mineral);
    position: absolute;
    bottom: 0;
    right: -130px;
    width: 60%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border: 5px solid var(--verde-mineral);
    z-index:999;
}
.navbar-brand {
    flex: 1
}

    .navbar-brand i {
        color: white
    }

    .navbar-brand span {
        color: var(--sauvignon);
    }

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--sauvignon)
}

    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: var(--verde-mineral)
    }

.hero-section {
    margin-top: 9em;
}
/**Sections Master*/
.section {
    margin-top: 10em
}

/*Segunda Header- Barra de navegação*/
.site-header {
    background-image: none;
    background-color: var(--sauvignon) !important;
    /* background-image: linear-gradient(15deg, var(--verde-escuro) 0%, var(--verde-mineral) 100%);*/
}

.breadcrumb-item a,
.breadcrumb-item li,
.breadcrumb-item.active,
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--verde-escuro) !important;
}

.section-header-nav {
    margin-top: 5em;
}
#menu-navegacao{
    position:relative;
}
#menu-navegacao__img {
    border: 10px solid var(--verde-mineral);
    border-radius: 5em;
    background-color: white;
}
#menu-navegacao h2 {
    color: var(--verde-escuro);
    text-transform: uppercase;
}

#menu-navegacao h4 {
    text-transform: uppercase;
    color: var(--madeira-escura)
}
#menu-navegacao h6{
    font-size:1.2em;
    font-weight:normal;
    color:var(--verde-mineral)
}
/*Bem vindos - section 2*/
#section_2 {
    background-color: var(--sauvignon);
    color: var(--sauvignon);
    padding: 2em;
}

#container-master-wellcome {
    background-color: var(--sauvignon);
}

#container-wellcome * {
    font-family: var(--title-font-family);
}

#content-wellcome {
    color: var(--verde-mineral);
    text-align: justify;
    font-weight: 400;
    margin-top: 1em;
}

#container-wellcome h2 {
    color: var(--verde-escuro);
    text-transform: uppercase;
    font-size: 3em;
}

#container-wellcome h4 {
    color: var(--madeira-escura);
    text-transform: capitalize;
    font-size: 2em;
}

.tab-content {
    background-color: var(--sauvignon)
}

#title-container-wellcome {
    color: var(--verde-escuro);
    font-weight: bold;
}

.custom-block {
    padding: 0;
    padding: 0 0;
}

    .custom-block:hover {
        background-color: initial;
        background-color: 0;
    }

#line-container-wellcome {
    width: 10em;
    border-top: 10px solid var(--verde-escuro);
}

.img-custom-block {
    background: url('/images/img_person/img108.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    position: sticky;
    border:10px solid var(--verde-mineral);
   
}
/*Compromisso*/
.section-overlay {
    /* background-image: var(--verde-mineral); */
    background-image: linear-gradient(15deg, var(--verde-escuro) 0%, var(--verde-mineral) 100%);
}

.timeline-section {
    background-image: none;
    background-color: var(--verde-mineral);
    background-image: url('/images/img_person/img40_edit.png');
    background-size: cover;
}

.site-footer {
    background-color: var(--verde-mineral);
    border-bottom: 10px solid var(--verde-escuro);
}

    .site-footer::after {
        border-color: transparent transparent var(--verde-escuro) transparent;
    }
#span-icon-contato i {
    background-color: var(--sauvignon);
    color: var(--madeira-escura);
    padding: .5em;
    border-radius: 50%;
    border:10px solid var(--madeira-escura)
   
}
.icon-holder {
    width: 200px;
    height: 200px;
}

#title-comprimisso h2 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

#subtitle-compromisso {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.listagem-compromisso {
    padding-left: 0 !important;
}

.timeline-container
.vertical-scrollable-timeline
.listagem-compromisso li {
    list-style-type: none;
    padding-top: 0 !important;
    padding-left: 0 !important;
    color: white;
    line-height: 2.5;
}

.timeline-container
.vertical-scrollable-timeline li
.icon-holder::before {
    background-color: var(--verde-escuro);
}

.timeline-container
.vertical-scrollable-timeline
li.active .icon-holder::before {
    background-color: var(--madeira-escura);
}
/* .timeline-container 
.vertical-scrollable-timeline 
li::before{
    background-color: var(--verde-escuro);
} */
.timeline-container
.vertical-scrollable-timeline
li.active .icon-holder {
    background-color: var(--sauvignon);
}
/*View de Contatos*/
.container-localizacao{
    display:flex;
    
    background-color:var(--verde-mineral);
    border-radius:10px;
    align-items:center;

}
.container-localizacao__icon{
   
}
.container-localizacao__icon i{
    font-size:7em;
    color:var(--sauvignon)
}
.container-localizacao__text{
    margin-left:1em;
    color:var(--sauvignon);
    display:flex;
    flex-direction:column;
    gap:.5em;
    font-weight:600;
}
.container-localizacao__text__title a{
    color:var(--sauvignon);
    text-decoration:underline
}
.container-vagas-contato{
    position:absolute;
    top:0px;
    border:20px solid var(--sauvignon);
    width:200px;
   background-color:#50675a;
   backdrop-filter:blur(10px);
    border-radius:50%;
    font-size:.8em;
    box-sizing:content-box;
   height:200px;
    right:0;
    display:flex;
   }
    .container-vagas-contato h6{
        
       
        margin-top:4em;
        color:white;
        text-align:center;
        margin-left:1em;
        font-weight:bold;
        

       
    }
#body-subtitle-localizacao{
    font-weight:normal!important;
    text-align:justify;
    line-height:1.5em;
    padding:1em 1em 0 0;
}
.container-contatos{
    display:flex;
    flex-direction:column;
    gap:2em
   
   
}
.wapper-row-contatos-telefones, 
.container-contatos__emails {
    display: flex;
    padding: 1em;
    border: 1px solid var(--sauvignon);
    border-radius: 17px;
    background-color:var(--verde-mineral);
}
.container-contatos__emails__title{
    font-weight:bold;
    font-size:1.2em;
}
.container-contatos__telefone__icons,
.container-contatos__emails__icons {
    font-size: 3em;
    padding: .5em;
    color: var(--sauvignon);
    background: var(--verde-mineral);
    border-radius: 50%;
}
.container-contatos__telefone__title{
    color:var(--sauvignon);
    font-size:1.2em;
    font-weight:bold;
}
.wapper-colun-telefones {
    display: flex;
    flex-direction: column;
}
.container-contatos__emails_wrapper-col{
    display: flex;
    align-items:start;
    
}
.container-contatos__telefone__body {
    margin-top: 1em;
}
   
    /*Footer*/
    footer * {
        color: var(--sauvignon)
    }
#coluna-footer-2{
   
    
}
.container-icons_footer__redes{
    display:flex;
    gap:2em;
    justify-content:center;
    padding:1em;
}
.container-icons_footer__redes i {
    font-size: 2em;
    transition:.6s;
}
    .container-icons_footer__redes i:hover{
        color:var(--madeira-escura);
        cursor:pointer;
    }
    #list-menu {
        padding: 0;
        display: flex;
        gap: 1em;
    }
#list-menu li {
    list-style: none;
    color: var(--sauvignon);
    font-size:.9em;
   
    line-height:45px
}
.container-contatos__emails__body {
    margin-top: 1em
}
.container-contatos__emails__body__wrapper {
   
    color: var(--sauvignon);
}
#row-footer {
    justify-content: center;
    align-items: center;
}

footer .container-logo img {
    border: 7px solid var(--verde-escuro);
}

.timeline-container .vertical-scrollable-timeline li {
    padding-bottom: 0;
    list-style: none;
}
#container-footer-telefones{
    display:flex;
    flex-direction:column;
    gap:1em;

}
#container-master-contato {
    padding: 1em;
   
    
    border-radius:10px 10px 0 0;
    border-bottom:2px dashed var(--sauvignon);
}
#container-footer-telefones h6,
.site-footer-link,
.site-footer-title {
    color: var(--sauvignon) !important;
}
/*jornada paciente*/
.custom-block-jornada {
    background: url('/images/img_person/img44.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    position: sticky;
    border:10px solid var(--verde-mineral)
}

#title-menu-renal {
    text-transform: uppercase;
    color: var(--verde-escuro);
   /* margin:0;*/
   margin-bottom:2em;
    padding:0;
    
}
/**Contatos*/

/*Bolas*/
.container-bl {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   /* background-color:var(--verde-mineral);
    border-radius:15px;
    border:10px solid var(--verde-escuro)*/
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004733; /* Cor do título */
}

.subtitle {
    font-size: 2rem;
    color: #8c6141; /* Cor do subtítulo */
    margin-bottom: 20px;
}

.text-content {
    max-width: 600px;
    text-align: left;
    line-height: 1.8;
}

    .text-content h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .text-content p, .text-content ul {
        margin-bottom: 20px;
    }

    .text-content ul {
        list-style-type: disc;
        margin-left: 20px;
    }

/* Seção de imagens circulares */
.images-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid;
}

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Garante que a imagem seja centralizada e não cortada */
    }

.circle-large {
    width: 300px;
    height: 300px;
    border-color: var(--verde-escuro); /* Cor da borda do primeiro círculo */
}

.circle-medium {
    width: 300px;
    height: 300px;
    border-color:var(--verde-mineral); /* Cor da borda do segundo círculo */
}

.circle-small {
    width: 150px;
    height: 150px;
    border-color: var(--madeira-escura); /* Cor da borda do terceiro círculo */
}
#container-beneficios{
    background-color:var(--sauvignon);
    padding-bottom:5em;
}
.cirle-large-md {
    width: 250px !important;
    height: 250px !important;
    border:0;
    position:absolute;
    top:0;
    left:0;

}
.circle-medium-nossa-clinica{
    width:250px!important;
    height:250px!important;
    position:absolute;
    top:5em;
    left:16em;
    
}
.circle-small-nossa-clinica{
    position:absolute;
    border:0;
    left:7em;
    top:15em;

}
.circle-small-nossa_clinica2{
    position:absolute;
    border:0;
    top:21em;
    left:20em
}
.circle-small-nossa_clinica3{
    position:absolute;
    border:0;
    width:250px;
    height:250px;
    top:22em;
    left:7em
}
/*Circle Hemo*/
/*.circle-large-hemodiafiltracao{
    position:absolute;
    top:0;
    left:100px;
    right:0;
    height:300px!important;
    width:300px!important;
}
.circle-medium-hemodiafiltracao {
    position: absolute;
    left: 0;
    top: 190px;
    width:250px!important;
    height:250px!important;
}
.circle-small-hemodiafiltracao {
    width:200px;
    height:200px;
    position: absolute;
    top: 270px;
    left:230px;
    bottom:0;
}*/
/* Responsividade */
@media screen and (max-width: 48em) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .images-container {
        margin-left: 0;
        margin-top: 20px;
    }

    .circle-large {
        width: 150px;
        height: 150px;
    }

    .circle-medium {
        width: 130px;
        height: 130px;
    }

    .circle-small {
        width: 120px;
        height: 120px;
    }
}
#img-grid img{
    border:7px solid var(--verde-mineral);
    border-radius:10px;
    padding:0;
}
.section-bg {
    background-color: var(--sauvignon)
}
/*Corpo Clínico*/
.absolute-layout {
    position: absolute;
    top: 14em;
    left: 5em;
}
/*BG*/
.background-primary-img-dialog {
    min-height: 630px;
    background-image: url('/images/img_person/img57_removed_bg_red.png');
    background-size: cover;
    background-position-x: center;
    background-color: var(--verde-mineral);
  /*  border-radius: 0 50% 50% 0;*/
    border-radius: 50% 10px;
}
.background-secondary-img-dialog {
    min-height: 630px;
    background-image: url('/images/img_person/img64._removed_bg.png');
    background-size: cover;
    background-position-x: center;
    background-color: var(--verde-mineral);
    border-radius: 50%  10px;
}

.background-primary-img-bcm {
    background-image: url('/images/img_person/img91_sem_bg.png');
    width:380px;
   
    background-position-x:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:470px;
    background-color:var(--verde-mineral);
    border-radius:50% 0;

}
.background-primary-img-dialise{
    background-image:url('/images/img_person/homechoice-claria.png');
    background-repeat:no-repeat;
    background-position:center;
    background-position-y:center;
    height:550px;
    width:100%;
    background-color:var(--verde-mineral);
    border-radius:7px 50%;
   
}
.background-primary-img-transplante{
    background-image:url('/images/img_person/image-doctors-rins.jpg');
    width:100%;
    height:700px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position-y:center;
    border-radius:7px 50%;
    border:10px solid var(--verde-mineral);
    background-color:var(--verde-mineral);
  
   
    
}

.bg-renal {
    background-image: url('/images/logo/logo_transp.png');
    background-repeat: no-repeat;
    background-size: 210px;
}
.bg-position-top-right {
    background-position-x: right;
    background-position-y: top;
}

.bg-position-top-left {
    background-position-x: left;
    background-position-y: top;
}

.resposiva-container-row-reverse {
    flex-direction: row-reverse;
}
@media screen and (max-width:47.75em) {
    .background-none {
        display: none;
    }
}

@media screen and (min-width:47.75em) {
    #menu-navegacao{
       /* padding-bottom:5em;*/
    }
    .circle-large{
        width:400px;
        height:400px
    }
    .absolute-layout{
       top:15em;

    }
    
    .circle-medium {
        width: 300px;
        height: 300px
    }
}
    @media screen and (max-width:47.81em) {
        .img-custom-block, .custom-block-jornada {
        height: 200px;
    }
        
        

}
   
    @media screen and (max-width:47.93em){
        .resposiva-container {
           
            gap: 0;
        }
        .images-container {
            display: none;
        }
    }
    
   @media screen and (max-width:61.9375em){
    .container-none{
        display:none;
    }
    .img-custom-block{
        height:250px;
    }

   }
    @media screen and (max-width:65.25em){
        .circle-large-hemodiafiltracao {
            position: relative;
            width:150px;
            height:150px;
          
        }

        .circle-medium-hemodiafiltracao {
            position: initial;
            width: 150px;
            height: 150px;
        }

        .circle-small-hemodiafiltracao {
           
            position: initial;
            width: 150px;
            height: 150px;
        }
    }
@media screen and (max-width:75em) {
    .img-nossaclinica-dupla{
        right:0;
       
    }
}
   
